{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="text-center bg-info p-2 h4">Login</div>
                <style>
                     body {
                     margin: 0;
                    padding: 0;
                     font-family: cursive;
                    height: 100vh;
                 background-image: url("{{url_for('static',filename = 'images/pic5.png')}}");
                    background-size: 100% 100%;
                    }
                </style>
               
                {% from "_formhelpers.html" import render_field %}
                {% include '_messages.html' %}
                <form method=post>
                    {{form.csrf_token}}
                <div>
                    {{ render_field(form.email, class="form-control") }}
                    {{ render_field(form.password, class="form-control") }}
                </div>
                <p><input type="submit" value="Login" class="btn-info">
                
                </form>
            </div>
      <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}